* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #BB4430;
    --secondary: #fcf3ec;
    --text: #231F20;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    background: var(--secondary);
    height: 500px;
    width: 500px;
    border-radius: 25px;
    overflow: hidden;
}

.steps {
    display: flex;
    justify-content: space-evenly;
    background: var(--primary);
    padding: 2rem;
}

.step {
    list-style: none;
    border: 2px solid white;
    padding: 15px 21px;
    border-radius: 50%;
    font-weight: bold;
}

.step a {
    text-decoration: none;
    color: white;
}

.current {
    border: 2px solid var(--primary);
    background: white;
    color: var(--primary);
}

.reciver-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.reciver-container label {
    font-size: 2rem;
}

