* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary:  #2f3640;
    --secondary: #f5f6fa;
    --detail: #e1b12c;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    background: var(--secondary);
    color: white;
}

.container {
    background: var(--primary);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 15px;
    width: 350px;
}

h2 {
    margin-bottom: 2rem;
    text-align: center;
}

input {
    outline: none;
}

#last-name,
#first-name,
#birth-date,
#birth-place {
    width: 100%;
    height: 2rem;
    border: none;
    background: transparent;
    margin-bottom: 1rem;
    border-bottom: 2px solid white;
    color: white;
    transition: 0.3s ease-out;
}

#birth-date {
    color: white;
    margin-bottom: 2rem;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


#last-name:focus,
#first-name:focus,
#birth-place:focus,
#birth-date:focus {
    border-bottom: 2px solid var(--detail);
}

.buttonHolder {
    text-align: center;
}

.gender-container {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}


.btn-container {
    text-align: center;
}

.btn {
    margin-top: 2.5rem;
    padding: 10px 20px;
    background: var(--detail);
    border: 1px solid var(--detail);
    border-radius: 5px;
    font-weight: bold;
    color: white;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    background:  #b1891d;
    border: 1px solid #b1891d;
}

input::placeholder {
    color: var(--detail);
}

.result {
    text-align: center;
}