* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #BB4430;
    --secondary: #fcf3ec;
    --text: #231F20;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    background: var(--secondary);
    height: 500px;
    width: 500px;
    border-radius: 25px;
    overflow: hidden;
}

.steps {
    display: flex;
    justify-content: space-evenly;
    background: var(--primary);
    padding: 2rem;
}

.step {
    list-style: none;
    border: 2px solid white;
    padding: 15px 21px;
    border-radius: 50%;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.current {
    border: 2px solid var(--primary);
    background: white;
    color: var(--primary);
}

.reciver-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.reciver-container label {
    font-size: 1.5rem;
}

#reciver {
    margin: 1rem;
    width: 200px;
    height: 2.5rem;
    background: white;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

#sel-line {
    width: 200px;
    height: 3px;
    position: relative;
    background: gray;
    z-index: 1;
    top: -20px;
    transition: 0.3s;
}

/*on hover .sel-line changes color*/
#reciver:focus ~ span{
    background: var(--primary);
}

.prof-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: 0;
}

.prof-container label:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/2;
}

.prof-container label:nth-child(2){
    grid-column: 3/5;
    grid-row: 2/3;
}

.prof-container label:nth-child(0){
    grid-column: 4/6;
    grid-row: ;
}
