* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary:  #2f3640;
    --secondary: #f5f6fa;
    --detail: #e1b12c;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    background: var(--secondary);
    color: white;
}

.container {
    background: var(--primary);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 15px;
    width: 350px;
}

h2 {
    margin-bottom: 2rem;
    text-align: center;
}

input {
    outline: none;
}

#last-name,
#first-name,
#birth-date,
#birth-place {
    width: 100%;
    height: 2rem;
    border: none;
    background: transparent;
    margin-bottom: 1rem;
    border-bottom: 2px solid white;
    color: white;
    transition: 0.3s ease-out;
}

#birth-date {
    color: white;
    margin-bottom: 2rem;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.label-down {
    position: relative;
    top: -40px;
    z-index: 1;
    pointer-events: none;
    transition: 0.3s ease-out;
}

input:focus + .label-down,
input:not(:focus):valid + .label-down {
    top: -65px;
}

#last-name:focus,
#first-name:focus,
#birth-place:focus,
#birth-date:focus {
    border-bottom: 2px solid var(--detail);
}

.buttonHolder {
    text-align: center;
}

#male,
#female {
    margin-left: 2.8rem;
}

.btn-container {
    text-align: center;
}

#btn {
    margin-top: 2.5rem;
    padding: 10px 20px;
    background: var(--detail);
    border: 1px solid var(--detail);
    border-radius: 5px;
    font-weight: bold;
    color: white;

}

#birth-place::placeholder {
    color: var(--detail);
}